html
{
    width: 1024px
}
header
{
    background-color: #8aa7ec;
    border: 2px solid black;
    text-align: center;
}
#cajaHorinzontal
{
    height: 100px;
    background-color: skyblue;

}
marquee
{
    margin-top: 30px;
    font-size: 30px;
}
#contenedor{
    height: 400px;

}
#cajaVertical
{
    float: left;
    width: 334px;
    display: flex;
    flex-direction: column;

}
#boton1
{
    height: 100px;
    flex-grow: 1;
}
#boton2
{
    height: 100px;

}
#boton3
{
    height: 100px;
}
#cajaSinUso
 {
     float: left;
     width: 674px;
     height: 400px;
    background-color: #acc8cc;
 }